APP_ENV=production

MONGODB_URI=mongodb://username:password@mongodb:27017
MONGODB_DATABASE=mydatabase

BACKUP_SCHEDULE=0 2 * * *
BACKUP_TIMEZONE=Asia/Dhaka

GOOGLE_DRIVE_FOLDER_ID=

GOOGLE_SERVICE_ACCOUNT_JSON=

BACKUP_RETENTION_DAYS=30

TEMP_BACKUP_DIR=/tmp/mongodb-backups

RUN_BACKUP_ON_START=false

WEB_PORT=
