APP_ENV=production

MONGODB_URI=mongodb://username:password@mongodb:27017
MONGODB_DATABASE=mydatabase

BACKUP_SCHEDULE=0 2 * * *
BACKUP_TIMEZONE=Asia/Dhaka

GOOGLE_DRIVE_FOLDER_ID=

GOOGLE_SHARED_DRIVE_ID=

GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_OAUTH_CREDENTIALS_FILE=
GOOGLE_OAUTH_CREDENTIALS_JSON=
GOOGLE_OAUTH_TOKEN_FILE=./token.json
GOOGLE_OAUTH_TOKEN_JSON=
GOOGLE_OAUTH_CALLBACK_URL=
GOOGLE_SERVICE_ACCOUNT_JSON=
MONGODUMP_PATH=

BACKUP_RETENTION_DAYS=30

TEMP_BACKUP_DIR=/tmp/mongodb-backups

RUN_BACKUP_ON_START=false

WEB_PORT=